fastapi==0.68.0
uvicorn==0.15.0
sqlalchemy==1.4.25
databases==0.5.2
pydantic==1.8.2
python-dotenv
pymysql
ipykernel 
notebook
pandas
numpy
scikit-learn
xgboost
matplotlib
bcrypt
uuid
typing
datetime
passlib
joblib
secrets